@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
  box-sizing: border-box;
}

button{
  all: unset;
}

/* -------------- End of reset ------------- */ 

/* Declaring colours as CSS custom variables */ 
body {
    --mainBackgroundColour: #F7EAD9; /* Checked against foreground colour on WebAIM and is accessible */
    --mainBodyTextColour: #4D4D4D;
    --darkGreyIconColour: #2E2E2E;
    --boxShadow: box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Jost', 'Futura', 'Trebuchet MS', 'Arial', sans-serif; 
    background-color: var(--mainBackgroundColour);
  }

/* Setting all headings and paragraphs to dark grey (text colour) */
h1, h2, h3, h4, h5, h5, h6, p, label, li{
    color: var(--mainBodyTextColour);

}
/* Generic styling for all h1 tags */
h1{
    font-weight: 700;
    text-align: center;
    margin-top: 5%;
}


/* ------------------------------  HOMEPAGE ---------------------------------------------- */ 
/* Targets main homepage h1 tag, i.e. 'Discover birds with Birds */ 
#main-page-heading{
  font-size: 7.5vw;
  font-weight: 700;
  text-align: center;
  margin-top: 20%;
  max-width: 100%;
  line-height: 120%;
 
}


/* ---------------------------- Navigation ------------------------------- */



/* Navigation for different pages */

  /* .nav-toggle-container{
    position: relative;
    display: inline-block;

  }

.nav-toggle-container{
  position: absolute;
  text-align: left;
  top: 100%;
  display: none;
}


.nav-toggle:checked ~ .nav-toggle-container{
  display: block;
}

span{
  background-image: url(images/icons/home-button-final.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 10vw;
  
} */

/* Targets search and home menu icon & sets search icon and home button to right */ 
#main-navigation{

}

header{
  background-color: rgba(207, 216, 172, 0.157);
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: end;
  max-height: 20vw;
  align-items: center;
  

}
/* Temporary home button until other pages are added */
#temp-home-button{
  height: 10vh;
  width: 10vw;
  background-image: url(images/icons/home-button-final.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5%;
  /* position: absolute;
  top: 10vw;
  right: 10vw; */
}

/* Styles label so it has background image of search icon */
.toggle-dropdown{
  display: inline-block;
  height: 10vh;
  width: 10vw;
  background-image: url("images/icons/search-icon-final.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5%;

 
}



.dropdown {
  position: relative;
  display: inline-block;
  /* bottom: 10vw;
  right: 20vw; */
  
}

/* Sets the content (colours and bird names) as display none as default */
.dropdown-content {
  display: none;
  position: absolute;
  right: 10vw;
  top: 10vw;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: scroll;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: royalblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.sub-menu p{
  padding: 5%;
  
}

.dropdown a:hover {background-color: #ddd;}



.toggle-dropdown:checked, #toggle-dropdown:checked ~ *{
  display: inline-block;
 

}


.main-menu{
  display: block;
}

.sub-menu .sub-menu-content{
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  
  
}

.sub-menu-content{
  display: none;
  width: 100%;
  z-index: 1;
}


.sub-menu:hover .sub-menu-content {
  display: block;
  
  
}

header input {
  visibility: hidden;
}






/* ---------------------------Homepage ---------------------- */ 


/* Targets main homepage SVG image of Kingfisher and river scene */ 
 img[src="images/nature_scene_homepage.svg"]{
    width: 100vw;
    height: auto;
    max-width: 100vw;
    margin-top: 0%;
    z-index: 1;
   
    
}

#sun{
  height: 15vw;
  width: 15vw;
  background-color: rgb(232, 183, 23);
  border-radius: 50vw;
  position: fixed;
  bottom: 30em;
  left: 80em;
  z-index: -1;
}

/* Targets homepage navigation to different sections, e.g. 'Identify a Bird' */ 
#homepage-flexbox{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80vw;
    text-align: center;
}
#gardens_and_parks{
  margin-top: 10%;
}

#forests_and_woodlands, #ponds_and_water{
  margin-top: 20%;
}

a[href="bird_id.html"]{
  display: inline-block;
   background-color: #3E3E3E;
   color: #F8F7F7;
   font-size: 4vw;
   font-weight: 500;
   letter-spacing: 2px;
   text-transform: uppercase;
   text-decoration: none;
   margin-top: 10%;   
   margin-left: 30%;
   padding: 5%;
   border-radius: 30em;
   
}


/* ------------------------------  Bird ID Page ----------------------------------- */ 

h1{
  font-size: 8vw;
}

/* ----- Bird ID List Page h2, e.g. large text 'Gardens & Forests' ------- */ 
.bird-list h2{
    font-size: 8vw;
    font-weight: 400;
    text-align: center;
    position: relative;
    bottom: 1.7em;
    color: var(--mainBackgroundColour);
    background-color: #375b3d;
    padding: 1.2%;
  
  }


/* ----- Targets Bird List ul (Gardens, Forests etc) ------- */ 
.bird-list ul{
      display: flex;
      justify-content: space-between;
      max-width: 90%;
      margin: 0 auto;
      margin-top: 5%;
  }


/* ----- Bird ID List Page background images  ------- */ 
.bird-list a[href="#gardens_and_parks"], a[href="#forests_and_woodlands"], a[href="#ponds_and_water"]{
  display: inline-block;
  height: 25vw;
  width: 25vw;
  background-size: 100%;
  background-repeat: no-repeat; 
  padding: 55% 10%;
  font-size: 3.5vw;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  margin-top: 5%;
  color: var(--mainBackgroundColour);
  transition: 0.5s;

  




  /*
  .hover-item {
    transition: 0.3s;
  }
  .hover-item:hover {
    transform: translate(0, -10px);
  } */
}
.bird-list a[href="#gardens_and_parks"]:hover, a[href="#forests_and_woodlands"]:hover, a[href="#ponds_and_water"]:hover{
  transform: translate(0, -20px);

  
}


.bird-list a[href="#gardens_and_parks"]{
  background-image: url("draft_images/habitat_gardens.svg");
  
}

.bird-list a[href="#forests_and_woodlands"]{
  background-image: url("draft_images/habitat_woodlands.svg");
} 

.bird-list a[href="#ponds_and_water"]{
  background-image: url("draft_images/habitat_ponds.svg");
} 

  /* ----- Targets All Bird ID Cards (specific bird pages) ------- */ 



/* Entire bird id card div */
  .bird-id-card {
    width: 85vw;
    height: auto;
    margin: 0 auto;
    margin-top: 15%;


  }

/* Targets links in 'Description' and 'Spotting Tip' */
.bird-id-card a, .bird-id-card a:focus, .bird-id-card a:visited {
  color: #004671;
  font-weight: 600;
}
/* Hover state for links in 'Description' and 'Spotting Tip' */
.bird-id-card a:hover{
  color: rgb(209, 147, 33);
}

/* Bird card illustration & bird name container only */
  .bird-picture{
  
    border-radius: 4vw;
    max-width: 82vw;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 
  }

/* Bird card illustration (makes img 100% of the container */
  .bird-picture img{
    width: 100%;
    height: auto;
    border-radius: .5em .5em 0 0;
    
  }

/* Bird card title (on specific bird page, e.g. blue_tit.html)  */
/* .bird-picture h1{
  font-size: 10vw;
} */

.content-wrapper{
  background-color: rgb(245, 239, 229);
}

/* Bird card icons (e.g. blue_tit.html)  */
.bird-id-card ul{
  border-radius: 1em;
  background-color: #e7f1f28a;
  /* border: .4em solid lightgray; */
  padding: 5%;
  margin: 5% 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* Targets 'Description' and 'Spotting Tip' (e.g. blue_tit.html)  */
.bird-id-card h2{
  font-size: 1.7em;
  font-weight: 600;
  padding: 2%;
  margin-top: 10%;
  display: inline;
  color: var(--darkGreyIconColour);
}

img[src="images/spotting_tip_icon.svg"], img[src="images/description_icon.svg"]{
  margin: 0 2%;
  margin-top: 15%;
  
}

/* Targets bird card name, e.g. Blue Tit */ 
  .bird-id-card h1{
    margin-top: -1%;
    padding: 5%;
    background-color: #3E3E3E;
    color: white;
    width: 100%;
    font-weight: 500;
    font-size: 11vw;
    border-radius: 0 0 1.5vw 1.5vw;
  }
/* Targets bird card paragraphs, top and bottom */ 
  .bird-id-card p{
    padding: 5% 3%;
    line-height: 1.2;
    font-size: 1.1em;
    margin-top: 8%;
  }


/* Targets bird card key info */ 
  .bird-id-card li{
    padding: 5%;
    margin: 5%;
    align-self: start;
    /* line-height: 1.2em; */
    
  }
    

 /* Creates flexbox container for all bird cards on ID page */ 
.flex-container{
  display: flex;
  flex-direction: row;
  row-gap: 3em;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  flex-wrap: wrap;
}

/* Targets entire bird card */ 
.list-bird-card{
  background-color: rgb(239, 239, 239);
  border-radius: 6vw; 
  max-width: 80vw;
  font-size: 5vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.5s;
  transition-delay: .2s, .2s;
}

/* Transitions entire bird card on hover */ 
.list-bird-card:hover{
  transform: translate(0px, -10px);
}


.list-bird-card:first-of-type{
  margin-top: 10%;
}

/* Targets bird image anchor tag on card (id page) */ 
.list-bird-card a > img{
  width: 100%; 
  height: auto;
  border-radius: 1vw 1vw 0 0;
  border-radius: 6vw 6vw 0 0;
  /* border: .2em rgba(0, 0, 0, 0.24) solid; */
}


/* Targets bird card main bird name, e.g. 'Blue Tit' */
.list-bird-card a > p{
  font-size: 4vh;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: rgb(157, 171, 201);
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 5%;
  margin-top: -1%;
}

/* Changes colour of each <p> on the Bird Card, e.g. 'Blue Tit' blue background colour */
.list-bird-card a[href="blue_tit.html"] > p{
  background-color: rgb(157, 171, 201);
}

/* .list-bird-card a[href="great_tit.html"] > p{
  background-color: rgb(105, 128, 100);
  background-color: #375b3d;
} */

/* Targets key icons and sets as grid, both on bird id page and individual bird cards */
.list-bird-card ul, .bird-id-card ul{
  display: grid;
  grid-template-columns: 10fr 40fr 10fr 40fr;
  gap: 10% 2%;
  font-size: 5vw;
}
/* Targets only main bird id page icons */
.list-bird-card ul{
  margin: 2% 5% 5% 5%;
  padding: 2%;
}


/* Targets key icons, both on bird id page and individual bird cards */
.list-bird-card li, .bird-id-card li{
  align-self: center;
  line-height: 1.2em;
  text-transform: capitalize;
  padding: 3%;
  margin: 4% 0 7% 4%;
}

/* Targets 'Play call' icon & gives it more spacing - both on bird id page and individual bird cards */
.list-bird-card li:nth-child(7), .bird-id-card li:nth-child(7){
grid-column: span 2;
text-align: center;
}

.list-bird-card input{
  
}

/* Targets icons */

/* img[src="images/icons/bird_call_icon_new.svg"]{
  height: 30px;
  width: 30px;
}

img[src="images/icons/bird_call_icon_new.svg"]:hover{
  height: 50px;
  width: 50px;
} */



/* Sets all main SVGs (gardens, woodlands, ponds) so they take up full width of the screen */ 
img[src="images/main_gardens_final.svg"], [src="images/main_woodlands_final.svg"], [src="images/main_ponds_final.svg"], img[src="images/nature-scene.svg"]{
  width: 100%;
  height: auto;
  /* max-height: 100%; */
  
}


/* Sets all elements to smooth scroll */ 
html{
  scroll-behavior: smooth;
}




/* Targets bird call audio */
li label{
  width: 100%;
  height: auto;
  display: block;
  background-image: url("images/icons/bird_call_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: underline;
  
  }


  label:focus, label:hover{
    cursor: pointer;
  }

 


/* Sets all bird card checkboxes so they are not visible on screen, but are still accessible for screenreaders to play/ pause with one click */ 
.list-bird-card input[type=checkbox], .bird-id-card input[type=checkbox]{
  width: 0px;
  height: 0px;
  visibility: hidden;
  margin: -.3%;
  } 

/* Targets 'Play call' icon & gives more padding on right, both on bird id page and individual bird cards */
span#left-padding{
  margin-right: 10%;
}

/* For fallback for users with JS disabled */
audio{
  width: 100%;
  height: auto;
} 


footer{
width: 100vw;
margin-top: 15%;
  
}

footer li{
  background-color: #364542;
  color: rgb(236, 236, 236);
  font-size: 5vw;
  padding: 2%;
}

footer a:link, footer a:visited, footer a:active{
  text-decoration: none;
  color: rgb(231, 231, 231);
}

footer a:hover{
  text-decoration: underline;
}

footer ~ p{
  width: 80%;
  margin: auto;
}

/* ------------------------------------------ Media Queries ------------------------------------------- */
/* Medium-sized devices, e.g. tablets */
@media only screen and (min-width: 760px) {

  #main-page-heading{
    font-size: 6vw;
    padding: 6%;
    margin-top: 2%;
  }

  img[src="images/nature_scene_homepage.svg"]{
    width: 100%;
    height: auto;
    margin-top: -12%;
    
}

a[href="bird_id.html"]{
   display: inline-block;
   background-color: #3E3E3E;
   color: #F8F7F7;
   font-size: 3vw;
   font-weight: 500;
   letter-spacing: 2px;
   text-transform: uppercase;
   text-decoration: none;
   margin-top: 5%;   
   margin-left: 35%;
   padding: 4%;
   
   
}
 
  .flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
  }
  
  /* Targets entire bird card */ 
  .list-bird-card{
    min-width: 20vw;
    min-height: auto;
    max-width: 36vw;
    max-height: auto;
    row-gap: .5em;
    margin: 3%;
  }
  .list-bird-card ul{
    font-size: .5em;
  }
  .list-bird-card:first-of-type{
    margin-top: 3%;
  }
  .list-bird-card a > p{
    font-size: 3vw;
    
  }
  .bird-picture{
    max-width: 70vw; 
  }

  .bird-id-card h1{
    font-size: 5vw;
  }

  .bird-id-card ul{
    font-size: 3vw;
    column-gap: 1;
  }

  footer li{
    font-size: 2vw;
    padding: 1%;
    padding-left: 3%;
  }


}

@media only screen and (min-width: 1020px) {

  img[src="images/nature_scene_homepage.svg"]{
    width: 100%;
    height: auto;
    margin-top: -25%;
    
}
  .list-bird-card a > p{
    font-size: 4vh;
    max-height: 10vw;
  
  }
  
  .list-bird-card ul{

  }

  .bird-picture{
   
    margin-right: 5%;
    float: left;
  }
  .bird-id-card h1{
    font-size: 2vw;
  }

  .bird-id-card ul{
    font-size: 2vw;
  }

  .bird-id-card p{
    font-size: 2vw;
  }


}